$gray-700: #4a5568;
$black: #000;
$white: #fff;

// ---- ---- ---- ----
/*GENERAL*/
// ---- ---- ---- ----
body {
  font-family: Arial;
  background-color: #f9f9f9;
  color: black;
}

button {
  border: black 2px solid;
  padding: 0.25rem 1rem !important;
  border-radius: 25px;
}

input{
  border: gray 1px solid;
  padding-left: 0.5rem !important;
  border-radius: 10px;
}
// ---- ---- ---- ----
/*NAVIGATION*/
// ---- ---- ---- ----
//nav {
//  display: flex;
//  gap: 1rem;
//  background-color: $gray-700;
//  justify-content: flex-end;
//  padding: 0.5rem;
//  align-items: center;
//}
//
//.nav-element {
//  display: flex;
//  flex-grow: ;
//  flex-direction: row;
//  font-weight: bold;
//  border-color: $black;
//  border-width: 2px;
//  border-radius: 9999px;
//  padding-top: 0.25rem;
//  padding-bottom: 0.25rem;
//  padding-left: 1rem;
//  padding-right: 1rem;
//  background-color: $white;
//  gap: 0.5rem;
//}
//
//#nav-user-icon {
//  width: 2rem;
//  height: 2rem;
//}

.user-icon {
    width: 2rem;
}
// ---- ---- ---- ----
/*LOGIN*/
// ---- ---- ---- ----
#login-box {
  width: 30rem;
  padding: 2rem;
  margin: 100px auto;
  background: #fff;
  border-radius: 15px;
  border: 1px solid #000;
}
// ---- ---- ---- ----
/*SPORT*/
// ---- ---- ---- ----
.sportImage {
  width: 3rem;
  height: 3rem;
}

.competition-button {
  background-color: white; /* Green */
  border: 2px solid black;
  padding: 0.25rem 1rem;
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
  display: inline-block;
  width: fit-content;
}
// ---- ---- ---- ----
/*OTHER*/
// ---- ---- ---- ----
.error {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.msg {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

