<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Competitions</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div th:replace="~{nav :: navbar}"></div>

<div class="flex flex-col min-h-full justify-center px-6 py-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <h1 class="text-4xl">Competitions for <span th:text="${sport.name}"></span></h1>
    </div>
    <div class="sm:mx-auto sm:w-full sm:max-w-sm flex flex-col gap-2">
        <a th:if="${userRole == 'admin'}" th:href="|/competition/add/${sport_id}|">
            <button>Add Competition</button>
        </a>
        <div class="sm:mx-auto sm:w-full sm:max-w-sm flex flex-col gap-2">
            <div th:each="competition : ${competitions}">
                <div class="flex flex-col border-2 border-black rounded-md p-4">
                    <p>When:
                        <span th:text="${competition.startDate} + ' ' + ${competition.startTime}"></span>
                        <!--                        <span th:text="${#temporals.format(competition.startDate, 'dd MMMM yyyy', #locale)} + ' ' + ${#calendars.format(competition.startTime, 'HH:mm', #locale)}">-->
                        <!--</span>-->
                    </p>

                    <p>Stadium: <span th:text="${competition.stadium.name}"></span></p>

                    <div th:if="${!competition.disciplines.isEmpty()}">
                        <p>Disciplines:</p>
                        <ul class="list-disc pl-5" th:each="discipline : ${competition.disciplines}">
                            <li class="mb-1" th:if="${discipline.name != null && !discipline.name.isEmpty()}"
                                th:text="${discipline.name}"></li>
                        </ul>
                    </div>

                    <p>Free seats: <span th:text="${competition.getFreeSeats()}"></span></p>

                    <p>
                        <span th:if="${userRole == 'admin'}"
                              th:text="|Ticket price: &euro;${#numbers.formatDecimal(competition.ticketPrice,1,2)}|">
                    </span>
                        <span th:if="${userRole == 'user' && competition.getFreeSeats() > 0}"
                              th:text="|Ticket price: &euro;${#numbers.formatDecimal(competition.ticketPrice,1,2)}|">
                    </span>
                    </p>

                    <p th:if="${userBoughtTickets.get(competition) > 0}"> Tickets bought: <span
                            th:text="${userBoughtTickets.get(competition)}"></span></p>

                    <a th:if="${userRole == 'user'}" th:href="|/ticket/buy/${competition.competition_id}|">
                        <button>Buy ticket(s)</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>