<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title th:text="#{dashboard.title}">Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var messageDiv = document.querySelector(".alert-success");
            if (messageDiv) {
                setTimeout(function () {
                    messageDiv.style.display = "none";
                }, 5000); // 5000 milliseconds = 5 seconds
            }
        });
    </script>
</head>
<body>
<div th:replace="~{nav :: navbar}"></div>

<!-- Display success message if it exists -->
<div class="alert alert-success" th:if="${message}" th:text="${message}"></div>

<th:block th:if="${userRole == 'user'}">
    <a th:href="|/tickets|" th:if="${ticketCount > 0}">
        <button th:text="#{dashboard.viewTickets}">View Tickets</button>
    </a>
</th:block>

<h2 th:text="#{dashboard.musicGenres}">Music Genres</h2>
<ul>
    <li th:each="genre : ${genres}">
        <a th:href="@{/festivals(genre=${genre.name})}" th:text="${genre.name}">Genre</a>
    </li>
</ul>

<h2 th:text="#{dashboard.regions}">Regions</h2>
<ul>
    <li th:each="region : ${regions}">
        <a th:href="@{/festivals(region=${region.name})}" th:text="${region.name}">Region</a>
    </li>
</ul>
</body>
</html>