<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:replace="~{nav :: navbar}"></div>
<th:block th:if="${userRole == 'user'}">
    <a th:if="${ticketCount > 0}" th:href="|/tickets|">
        <button>View Tickets</button>
    </a>
</th:block>

<h2>Music Genres</h2>
<ul>
    <li th:each="genre : ${genres}">
        <a th:href="@{/festivals(genre=${genre.name})}" th:text="${genre.name}">Genre</a>
    </li>
</ul>

<h2>Regions</h2>
<ul>
    <li th:each="region : ${regions}">
        <a th:href="@{/festivals(region=${region.name})}" th:text="${region.name}">Region</a>
    </li>
</ul>
</body>
</html>