<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Festivals</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:replace="~{nav :: navbar}"></div>
<div>
    <h2 th:text="${(genre != null) ? (region != null) ? (genre + ' &amp; ' + region) : genre : (region != null) ? region : ''}">
        Music Genre and Region</h2>
    <ul>
        <li th:each="festival : ${festivals}">
            <h3 th:text="${festival.name}">Festival Name</h3>

            <p>Date and Start Time: <span th:text="${festival.startDateTime}">Date and Time</span>
            </p>

            <p th:if="${region} == null">Region: <span th:text="${festival.region.name}">Region</span></p>
            <p th:if="${genre} == null">Genre: <span th:text="${festival.genre.name}">Genre</span></p>

            <p>Performances:
            <ul>
                <li th:each="performance : ${festival.performances}"
                    th:text="${performance.artistName} + ' at ' + ${performance.startDateTime}">Performance
                </li>
            </ul>

            <p>Available Seats: <span th:text="${festival.availableSeats}">Available Seats</span></p>

            <p th:if="${festival.availableSeats != null && festival.availableSeats > 0 || (isAdmin != null ? isAdmin : false)}">
                Ticket Price:
                <span th:text="|&euro;${#numbers.formatDecimal(festival.ticketPrice,1,2)}|">Price</span>
            </p>

            <!--Tickets bought-->
            <th:block th:if="${userRole == 'user'}">
                <p th:if="${ticketsBoughtPerFestival[festival.festivalId] > 0}">Tickets Bought:
                    <span th:text="${ticketsBoughtPerFestival[festival.festivalId]}">Number</span>
                </p>
            </th:block>
            <!--Buy ticket-->
            <th:block th:if="${userRole == 'user'}">
                <a th:href="@{/festivals/buy(festivalId=${festival.festivalId})}" class="button-link">
                    Buy Ticket(s)
                </a>
            </th:block>

            <!--Add performance-->
            <th:block th:if="${userRole == 'admin'}">
                <a th:href="@{/festivals/addPerformance(festivalId=${festival.festivalId})}" class="button-link">Add Performance</a>
            </th:block>

            <!--Remove performance-->
            <th:block th:if="${userRole == 'admin'}">
                <a th:href="@{/festivals/removePerformance}" class="button-link">Remove Performance(s)</a>
            </th:block>

        </li>
    </ul>
</div>
</body>
</html>