<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body onload='document.loginForm.username.focus();'>
<nav class="flex gap-4 bg-gray-700 justify-start p-2 items-center">
    <h1 class="text-white">Login page</h1>
</nav>

<div id="login-box">

    <h3 class="text-2xl font-bold">Login with Username and Password</h3>

    <div th:if="${error}" class="error" th:text="${error}"></div>

    <div th:if="${msg}" class="msg" th:text="${msg}"></div>

    <form th:action="@{/login}" method="post">
        <table>
            <tr>
                <td>User:</td>
                <td><input type='text' name='username' value=''></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type='password' name='password'/></td>
            </tr>
            <tr>
                <td colspan='2'>
                    <button name="submit" type="submit">Login</button>
                </td>
            </tr>
        </table>

        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>

    </form>
</div>

</body>
</html>