<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title th:text="#{login.title}">Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body onload='document.loginForm.username.focus();'>
<nav class="flex gap-4 bg-gray-700 justify-start p-2 items-center">
    <h1 class="text-white" th:text="#{login.pageTitle}">Login page</h1>
</nav>

<div id="login-box">

    <h3 class="text-2xl font-bold" th:text="#{login.header}">Login with Username and Password</h3>

    <div class="error" th:if="${error}" th:text="${error}"></div>

    <div class="msg" th:if="${msg}" th:text="${msg}"></div>

    <form method="post" th:action="@{/login}">
        <table>
            <tr>
                <td th:text="#{login.usernameLabel}">User:</td>
                <td><input name='username' type='text' value=''></td>
            </tr>
            <tr>
                <td th:text="#{login.passwordLabel}">Password:</td>
                <td><input name='password' type='password'/></td>
            </tr>
            <tr>
                <td colspan='2'>
                    <button name="submit" th:text="#{login.submitButton}" type="submit">Login</button>
                </td>
            </tr>
        </table>

        <input name="_csrf" th:value="${_csrf.token}" type="hidden"/>

    </form>
</div>

</body>
</html>