<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title th:text="#{nav.title}">Navigation</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div th:fragment="navbar">
    <nav class="flex gap-4 bg-gray-700 justify-end p-2 items-center">
        <div class="flex font-bold border-black border-2 rounded-full py-1 px-4 bg-white gap-2">
            <span th:text="${userRole}"></span>
            <img alt="User Icon" class="user-icon" th:src="@{'/icons/' + ${userRole} + '.png'}">
            <p th:text="|${username}|"></p>
        </div>
        <div class="font-bold border-black border-2 rounded-full py-1 px-4 bg-white">
            <form method="post" th:action="@{/logout}">
                <input class="border-0" th:value="#{nav.logoutButton}" type="submit"/>
                <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
            </form>
        </div>
    </nav>
</div>
</body>
</html>