<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title th:text="#{performanceRemove.title}">Remove performance(s)</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div th:replace="~{nav :: navbar}"></div>

<div class="flex justify-center align-center mt-8 mb-8">
    <div class="w-5/12 border-2 border-black p-16 rounded-md bg-blue-100">
        <div>
            <h1 th:text="#{performanceRemove.titleFor} + ' ' + ${festival.name}"></h1>
            <div class="error" th:if="${error}" th:text="${error}"></div>
            <div class="message" th:if="${message}" th:text="${message}"></div>
            <ul>
                <li th:each="performance : ${performances}">
                    <span th:text="${performance.artistName}"></span>
                    <form method="post"
                          th:action="@{/performance/removePerformance(festivalId=${festival.festivalId})}"
                          th:object="${performance}">
                        <input th:name="performanceId" th:value="${performance.performanceId}" type="hidden"/>
                        <button class="bg-red-500 text-white" th:text="#{performanceRemove.deleteButton}" type="submit">
                            Delete
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>