<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Add performance</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div th:replace="~{nav :: navbar}"></div>

<p>Festival Name: <span th:text="${festival.name}"></span></p>
<p>Festival ID: <span th:text="${festival.festivalId}"></span></p>
<p>Festival Start Date and Time: <span th:text="${festival.startDateTime}"></span></p>
<p>Festival Genre: <span th:text="${festival.genre.getName()}"></span></p>

<form class="flex flex-col mt-16 gap-4" th:action="@{/festivals/addPerformance(festivalId=${festival.festivalId})}"
      method="post" th:object="${performance}">

    <!--All errors-->
    <div th:if="${#fields.hasErrors('*')}">
        <ul>
            <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
        </ul>
    </div>

    <!--Artist name-->
    <div>
        <label for="artistName">Name of artist or group:</label>
        <input type="text" id="artistName" name="artistName" th:field="*{artistName}"/>
        <span th:if="${#fields.hasErrors('artistName')}" th:errorclass="error" th:errors="*{artistName}"></span>
    </div>

    <!-- Start date time -->
    <div>
        <label for="startDateTime">Start Date/Time:</label>
        <input type="datetime-local" id="startDateTime" name="startDateTime" th:field="*{startDateTime}"/>
        <span th:if="${#fields.hasErrors('startDateTime')}" th:errorclass="error" th:errors="*{startDateTime}"></span>
    </div>

    <!-- End date time -->
    <div>
        <label for="endDateTime">End Date/Time:</label>
        <input type="datetime-local" id="endDateTime" name="endDateTime" th:field="*{endDateTime}"/>
        <span th:if="${#fields.hasErrors('endDateTime')}" th:errorclass="error" th:errors="*{endDateTime}"></span>
    </div>


    <!--Subgenres-->
    <div>
        <div>
            <label for="subGenre1">Subgenre 1:</label>
            <select id="subGenre1" name="subGenres" th:field="*{subGenres}">
                <option value="" th:selected="${subGenres[0] == null}">Select a subgenre</option>
                <option th:each="subGenre : ${subGenres}" th:value="${subGenre.subGenreId}"
                        th:text="${subGenre.name}"
                        th:selected="${subGenres[0] != null and subGenres[0].subGenreId == subGenre.subGenreId}"></option>
            </select>
        </div>
        <div>
            <label for="subGenre2">Subgenre 2:</label>
            <select id="subGenre2" name="subGenres" th:field="*{subGenres}">
                <option value="" th:selected="${subGenres[1] == null}">Select a subgenre</option>
                <option th:each="subGenre : ${subGenres}" th:value="${subGenre.subGenreId}"
                        th:text="${subGenre.name}"
                        th:selected="${subGenres[1] != null and subGenres[1].subGenreId == subGenre.subGenreId}"></option>
            </select>
        </div>
        <span th:if="${#fields.hasErrors('subGenres')}" th:errorclass="error" th:errors="*{subGenres}"></span>
    </div>

    <!--Festival numbers-->
    <div>
        <label for="festivalNumber1">Festival-number1:</label>
        <input type="number" id="festivalNumber1" name="festivalNumber1" th:field="*{festivalNumber1}"/>
        <span th:if="${#fields.hasErrors('festivalNumber1')}" th:errorclass="error"
              th:errors="*{festivalNumber1}"></span>
    </div>
    <div>
        <label for="festivalNumber2">Festival-number 2:</label>
        <input type="number" id="festivalNumber2" name="festivalNumber2" th:field="*{festivalNumber2}"/>
        <span th:if="${#fields.hasErrors('festivalNumber2')}" th:errorclass="error"
              th:errors="*{festivalNumber2}"></span>
    </div>

    <!--submit button-->
    <button type="submit">Add performance</button>
</form>

</body>
</html>