<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Buy Tickets</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div th:replace="~{nav :: navbar}"></div>
<div class="flex flex-col min-h-full justify-center px-6 py-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm flex flex-col gap-2">
        <form class="flex flex-col gap-4" action="#" th:action="@{'/ticket/buy/' + ${competition_id}}" th:object="${ticket}" method="post">
            <div class="flex flex-col">
                <p>You have bought <span th:text="${ticketCount}"></span> ticket(s) for this competition.</p>

                <div class="flex flex-col">
                    <label for="competition">Competition:</label>
                    <input type="text" id="competition" th:field="*{competition.competition_id}" readonly>
                    <span th:if="${#fields.hasErrors('competition.competition_id')}" th:errorclass="error" th:errors="*{competition.competition_id}"></span>
                </div>

                <div class="flex flex-col">
                    <label for="quantity">Number of Tickets:</label>
                    <input type="number" id="quantity" th:field="*{quantity}">
                    <span th:if="${#fields.hasErrors('quantity')}" th:errorclass="error"
                          th:errors="*{quantity}"></span>
                </div>

                <input type="submit" value="Buy Tickets">
            </div>

        </form>
    </div>
</div>
</body>
</html>