<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Tickets</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div th:replace="~{nav :: navbar}"></div>


<table class="divide-y divide-gray-200">
    <thead class="bg-gray-700">
    <tr>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-200 uppercase tracking-wider" scope="col">
            Ticket ID
        </th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-200 uppercase tracking-wider" scope="col">
            Start Date and Time
        </th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-200 uppercase tracking-wider" scope="col">
            Festival
            name
        </th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-200 uppercase tracking-wider" scope="col">
            Region
        </th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-200 uppercase tracking-wider" scope="col">
            Genre
        </th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-200 uppercase tracking-wider" scope="col">
            Quantity
        </th>
    </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200" th:each="ticket : ${tickets}">
    <tr>
        <td th:text="${ticket.ticketId}"></td>
        <td th:text="${{ticket.festival.startDateTime}}"></td>
        <td th:text="${ticket.festival.name}"></td>
        <td th:text="${ticket.festival.region.name}"></td>
        <td th:text="${ticket.festival.genre.name}"></td>
        <td th:text="${ticket.quantity}"></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td class="text-right font-bold" colspan="5">Total:</td>
        <td class="font-bold" th:text="${#aggregates.sum(tickets.![quantity])}"></td>
    </tr>
    </tfoot>
</table>


</body>
</html>