<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title th:text="#{festivalBuy.title}">Buy ticket for festival</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div th:replace="~{nav :: navbar}"></div>

<div class="flex justify-center align-center mt-8 mb-8">
    <div class="w-5/12 border-2 border-black p-16 rounded-md bg-blue-100">
        <!--Info-->
        <p>
            <span th:text="#{festivalBuy.buyingTicketsFor}">You're buying tickets for:</span>
            <span th:text="${festival.name}"></span>
        </p>
        <p>
            <span th:text="#{festivalBuy.availablePlaces}">Available places:</span>
            <span th:text="${festival.availablePlaces}"></span>
        </p>
        <p th:if="${ticketsBought > 0}">
            <span th:text="#{festivalBuy.ticketsBought}">Tickets already bought:</span>
            <span th:text="${ticketsBought}"></span>
        </p>

        <!--Buy ticket-->
        <form class="flex flex-col mt-16 gap-4" method="post"
              th:action="@{/tickets/buy(festivalId=${festival.festivalId})}"
              th:object="${ticket}">

            <div>
                <label for="quantity" th:text="#{festivalBuy.quantity}">Quantity:</label>
                <input id="quantity" name="quantity" th:field="*{quantity}" type="number"/>
                <p th:errorclass="error" th:errors="*{quantity}" th:if="${#fields.hasErrors('quantity')}"></p>
            </div>

            <button class="bg-blue-500 text-white" th:text="#{festivalBuy.buyTickets}" type="submit">Buy Ticket(s)
            </button>
        </form>
    </div>
</div>
</body>
</html>